{% extends 'base.html' %}
{% block titulo %}Ingresa al sistema{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}
    <script>
        $(function () {
            var li = $('#ingresar_u');
            li.addClass("active");

            $(":input").each(function () {
                var input = $(this);
                input.addClass('form-control');
            });
        });
    </script>

    <form id="formulario" method="post" action="">{% csrf_token %}
        <table class="table">{{ formulario }}</table>
        <p><input class="btn btn-default" type="submit" value="Confirmar"/></p>
    </form>
{% endblock %}