{% extends 'base.html' %}

{% comment %} esto es un comentario {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}

    <script>
        $(function () {
            var li = $('#inicio');
            li.addClass("active");
        });
    </script>

    <p>
        Actualmente tenemos registradas:
        {% with total=recetas.count %}
            {{ total }} receta{{ total|pluralize }}
        {% endwith %}
    </p>
    <ul>
        {% for dato in recetas %}
            <li class="{% cycle 'impar' 'par' %}">{{ dato.titulo }}</li>
        {% empty %}
            <li>No hay recetas registradas aún</li>
        {% endfor %}
    </ul>
{% endblock %}