{% extends 'base.html' %}
{% block titulo %}Nuevo usuario{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}
    <script>
        $(function () {
            var li = $('#registrar_u');
            li.addClass("active");

            $(":input").each(function () {
                var input = $(this);
                input.addClass('form-control');
            });
        });

    </script>
    <form id='formulario' method='post' action=''>{% csrf_token %}
        <table class="table">{{ formulario }}</table>
        <p><input class="btn btn-default" type='submit' value='Registrar'/></p>
    </form>
{% endblock %}