{% extends 'base.html' %}
{% block titulo %} Recetas registradas {% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
    <script>
        $(function () {
            var li = $('#recetas');
            li.addClass("active");
        });
    </script>
    <h2><a href="/recetario/nueva">Agregar una receta</a></h2>
    <table class="table">
        {% for dato in datos %}
            <tr>
                <td><a href="{% url "principal.views.detalle_receta" dato.id %}">{{ dato.titulo }}</a></td>
                <td><img src="{{ MEDIA_URL }}{{ dato.imagen }}"></td>
            </tr>
        {% empty %}
            <li>Aún no hay recetas registradas</li>
        {% endfor %}
    </table>
{% endblock %}